<p class="display-3 animated fadeIn">
  Heroes Search
</p>

<hr>

<div class="card-columns animated fadeIn">

  <div *ngFor="let heroe of heroes; let i = index" class="card">
    <img [src]="heroe.img" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{heroe.nombre | uppercase}}</h5>
      <p class="card-text">{{heroe.bio | slice: 15}}</p>
      <p class="card-text"><small class="text-muted">Fecha de Aparición: {{heroe.aparicion | date: "MMM - yyyy"}}</small></p>
      <button (click)="verHeroe(heroe.id - 1)" class="btn btn-success">Detalles</button>
      <!--<a [routerLink]="['/heroe',i]" class="btn btn-info">Ver mas</a>-->
    </div>
  </div>

</div>
