<nav class="navbar navbar-expand-lg navbar-{{theme}} bg-{{theme}}">
  <a class="navbar-brand" href="#">
    <img class="logoNav" src="{{srcImage}}">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"> <!-- routerLinkActive se fija si el routerLink esta activo y pone el nombre de la clase que se halla designado -->
        <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['heroes']" >Heroes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['about']" tabindex="-1" aria-disabled="true">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- #buscarHeroe es el selector de este control,-->
      <input class="form-control mr-sm-2" type="search" placeholder="Heroe" aria-label="Heroe" #buscarHeroe>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="buscarHeroes(buscarHeroe.value)">Buscar</button>
    </form>
  </div>
</nav>
